<mat-nav-list>
    <div class="logo py-4">
        <img src="../../assets/ome" alt=""/>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader clsss="mt-2">Application</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="'list-item-active">
        <mat-icon>Home</mat-icon>
    </a>

    <a mat-list-item routerLink="/dashboard" routerLinkActive="'list-item-active">
        <mat-icon>dashboard</mat-icon>
    </a>

    <a mat-list-item routerLink="/dashboard" >
        <mat-icon>edit</mat-icon>
    </a>

    <a mat-list-item >
        <mat-icon>edit</mat-icon>
    </a>

    <a mat-list-item >
        <mat-icon>edit</mat-icon>
    </a>
</mat-nav-list>